doctype html
html(ng-app="app")
    head
        include header
        append header
    body(ng-controller="MainCtrl" ng-click='clickBody($event)')
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') #{projectName}
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a#drop4.dropdown-toggle(href='#', ng-click="filterType($event)" class="<% showSelect %>")
                                | Filter(<% filter_type %>)
                                span.caret
                            ul#menu1.dropdown-menu(role='menu' class="<% show_option %>" ngd-click="selectedFilter($event)"  selector="a")
                                li
                                    a(role='menuitem', tabindex='-1', href='#') All
                                li
                                    a(href='#') Script
                                li
                                    a(href='#') Css
                                li
                                    a(href='#') Image
                                li
                                    a( href='#') XHR
                                li
                                    a(href='#') Document
                                li
                                    a( href='#') Other
                        li
                                    a(href='#') Help


        block content

        include footer
        append footer